#header {
    background-image: url("../images/slider-1.png");
    /*  background: transparent url("../images/slider-1.png") 0% 0% no-repeat padding-box; */
    width: 1366px;
    height: 768px;
}

.header__section {
    border: 1px solid $color-brand;
    width: 1366px;
    height: 96px;
    display: flex; 
}

.header__section__img {
    width: 128px;
    height: 30px;
    margin-left: 100px;
    margin-top: 33px; 
}

nav{
     float: right;
     align-self:center;
}


ul li {
    list-style: none;
    float: left;
    flex-direction: row-reverse;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-ft-primary;
    font-family: $font-secondary;
}


.header__textprimary {
    font-size: 4.8rem;
    color: $color-ft-primary;
    font-family: $font-brand;
    margin-top: 60px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
}

p{  
  color: $color-ft-primary;
  font-size: 1.6rem;
  font-family: $font-secondary;
}

.header__textsecondary {
    margin-top: 60px;
    margin-left: 101px;
    width: 343px;
    height: 42px;
}

.header__buton {
    @include button;
    margin-top: 110px;
    margin-left: 101px;
}
